<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new posts</title>
</head>
<body>
    <h2>⚠️ ID MUST BE INT</h2>
    <form method="post" action="/posts">
        <input placeholder="enter id (MUST BE INT)" name="id" style="padding: 10px;font-size: medium;"><br><br>
        <input placeholder="enter username" name="username" style="padding: 10px;font-size: medium;"><br><br>
        <textarea placeholder="write your post" name="content" style="padding: 10px;font-size: medium;"></textarea><br><br>
        <button>Submit</button> 
    </form>
</body>
</html>